@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background-black: #F9FAFB;
    --background-gray: #1A1A1A;
    --background-light-gray: #222222;
    --logo-color: #1E3A8A;
    --white: #ffffff; 
    --button-color: #10B981;
    --hover-button-color: #1E3A8A;
    
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  margin: 0;
  color: var(--white);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
